<%- include('partials/header') -%>
<a href="/parking/logout" class="col-3 btn btn-primary">Logout</a>
<!-- Page 0: Display Monitors / Open Shifts -->
<!-- <a href="/logout" class="col-3 btn btn-primary">Logout</a> -->
<main class="container">
  <h1>Parking Information</h1>
  <span class=>Don't know where to start? Click here for the <a href="/parking/quickstart">Quick Start!</a> </span>
  <% const todayToday = new Date() %>
  <p>Date: <%= todayToday %></p>
  
  <section class="monitors">
    <!-- Populate dynamically with monitors + monitor attributes 
    Attributes = ID, displayname, shift time, shift location, vacation?, 
    hours, and seniority. -->
  <h2>Monitors</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Normal Shift</th>
        <th>Location</th>
        <th>On Vacation?</th>
        <th>Hours</th>
        <th>Seniority</th>
      </tr>
    </thead>
    <tbody>
      <% monitors.forEach((monitor) => { %>
        <tr>
          <td><%= monitor.id %></td>
          <td><%= monitor.name %></td>
          <td><%= monitor.regularShift.name %>    
            (<%= monitor.regularShift.startTime.toLocaleTimeString("en-US", { hour: "2-digit", minute: "2-digit" }) %> -
            <%= monitor.regularShift.endTime.toLocaleTimeString("en-US", { hour: "2-digit", minute: "2-digit" }) %>)</td>
          <td><%= monitor.location.name %></td>
          <td><%= monitor.vaca.length > 0 ? "Yes" : "No" %></td>
          <td><%= monitor.hours %></td>
          <td><%= monitor.seniority.toDateString() %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  </section>

</main>

<%- include('partials/footer') -%>
