<%- include('partials/header') -%>
<!-- Page 3: Show schedule -->
<main class="container">
    <h1>Weekly Parking Monitor Schedule <%= allocationResults.weekStart %> - <%= allocationResults.weekEnd %></h1>
    <% for(let i = 0; i < 7; i++){ %> 
        <!-- 0 = thurs, 1 = fri, 2 = sat, 3 = sun, 4 = mon, 5 = tues, 6 = weds -->
        <table class="table table-striped">
            <h3><%= wkDays[i] %></h3>
            <thead>
                <tr>
                    <th>Shift</th>
                    <% allocationResults.schedule[daysArr[i]].locations.forEach(location => { %> 
                        <th><%= location %></th>
                    <% }) %>
                </tr>
            </thead>
            <tbody>
                <!-- Looping over each 'row' -->
                <% Object.values(allocationResults.schedule[daysArr[i]].row).forEach((shift) => { %>
                    <tr>
                        <!-- Display the shift time -->
                        <td>
                            <span style="white-space: nowrap;">
                                <%= new Date(shift.start).toLocaleTimeString('en-US', { hour: 'numeric', minute: '2-digit', hour12: true }) %> -
                                <%= new Date(shift.end).toLocaleTimeString('en-US', { hour: 'numeric', minute: '2-digit', hour12: true }) %>
                            </span>
                        </td>
                        <!-- Render Monitors horizontally -->
                        <% shift.locationMonitors.forEach(monitor => { %>
                            <td>
                                <!-- <pre><%= JSON.stringify(shift.location, null, 2) %></pre> -->
                                <!-- <%= typeof monitor[1] === 'object' ? monitor[1].name : monitor[1] %> -->
                                 <%= monitor[1] %>
                            </td>
                        <% }) %>
                    </tr>
                <% }) %>
            </tbody>
        </table>

    <% } %>
</main>
<%- include('partials/footer') -%>

 











<!-- Show the allocation process -->
<!-- To comment in EJS use <% /* %> {...code goes here} <% */ %> -->
<% /* %>
<% hourChargeSteps.forEach(step => { %>
        <div class="allocation-step">
            <h3><%= step.monitorName %> got <%= step.assignedShift %></h3>
            <ul>
                <% step.chargedMonitors.forEach(m => { %>
                    <li>+<%= m.hoursAdded %>h to <%= m.name %></li>
                <% }) %>
            </ul>
        </div>
    <% }) %> 
<% */ %>